div.pressing{
    position:absolute; 
    left: 30%;
    right: 30%;
    top: 15%;
    width: 50%;
}

div.hebergement{
    position:absolute; 
    left: 30%;
    right: 30%;
    top: 15%;
    width: 50%;
}